* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}



.wrapper {
  display: inline-flex;
  color: #959698;
}

.wrapper .icon {
  position: relative;
  background-color: #15171A;
  border-radius: 100%;
  padding: 5px;
  margin: 5px;
  width: 40px;
  height: 40px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

body {
  color: #959698;
}

.text-andreex{
  color: #959698;
}

.text-andreex:hover{
  color: #fff;
}

.bg-ax {
  background-color: #212429;
  border-color: #212429;
}

.card {
  background-color: #15171A;
}

.btn {
  background-color: #1A1E21;
  color: #959698;
}

.navbar {
  background-color: #1A1E21;
}

#about {
  background-color: #212429;
}

#design {
  background-color: #212429;
}


.jumbotron {
  padding-top: 6rem;
  background-color: #1A1E21;
}

#projects {
  background-color: #1A1E21;
}

section {
  padding-top: 5rem;
}

.ax-footer {
  background-color: #1A1E21;
}

.col-md-4 {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

.display-ax {
  font-family: 'Inter', sans-serif;
  font-size: 35px;
}

.lead-ax {
  font-family: 'Inter', sans-serif;
}

h2 {
  font-family: 'inter', Sans-Serif;
}

h5 {
  font-family: 'inter', Sans-Serif;
  font-size:  18px;
}

.nav-item {
  font-family: 'inter', Sans-Serif;
}

.btn-primary {
  font-family : 'inter', Sans-Serif;
}

.text-center-ax {
  font-family : 'inter', Sans-Serif;
  color: #959698;
}

a {
  text-decoration:none
}

.card {
   border-radius: 10px;
}

.card-img-top {
    border-radius: 10px 10px 0px 0px;
}

.btn {
    border-radius: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    border-style: none;
}

.carousel-inner {
    border-radius: 10px;
}